.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
}
.App> div{
  width: 45%;
  border: 1px solid red;
}
.form input{
margin-bottom: 10px;
display: block;
width: 100%;
}
.form button{
  width: 100%;
  /* border: 0px; */
  height: 40px;
  margin-top: 20px;
}
.selectdepart{
  width: 100%;
  margin-bottom: 10px;
}
.checkboxui{
  
}
.left{
  width: 25%;

}
.right{
  width: 75%;
}
