body{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,70,0.9668242296918768) 100%);
}
.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
}
.App> div{
  margin-top: 50px;
  padding: 20px;
  /* border: 1px solid red; */
}
.form input{
margin-bottom: 10px;
display: block;
width: 100%;
}
.form button{
  width: 100%;
  /* border: 0px; */
  height: 40px;
  margin-top: 20px;
}
.selectdepart{
  width: 100%;
  margin-bottom: 10px;
  
}
.checkboxui{
  
}
.left{
  /* border: 1px solid green; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.left input, select, button {
  background: #b6528d;
  border: 1px solid red;
}
