body{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
}
.App> div{
  margin-top: 50px;
  padding: 20px;
  /* border: 1px solid red; */
}
.form input{
margin-bottom: 10px;
display: block;
width: 100%;
}
.form button{
  width: 100%;
  /* border: 0px; */
  height: 40px;
  margin-top: 20px;
}
.selectdepart{
  width: 100%;
  margin-bottom: 10px;
  
}

.left{
  /* border: 1px solid green; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.left input, select, button {
  background: rgb(238, 209, 221);
  border: 1px solid rgb(243, 210, 210);
  outline: none;
}
.table{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  border: 1px;

}
